/* App.css */

/* Add Meeting Button */
/* .add-meeting-button {
  position: fixed;
  bottom: 20px;
  right: 100px;
  background-color: #4Cf;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
} */


/* Meeting Card */
.meeting-card {
  margin: auto;
  border: 1px solid #000;
  padding: 20px;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Meeting Card - Text Section */
.meeting-card .text-section {
  display: flex;
  flex-direction: column;
  gap: 15px; /* 각 항목 사이 간격 */
}

.meeting-card .text-section h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.meeting-card .text-section p {
  margin: 0;
  font-size: 16px;
}
.meeting-card .text-section .moneyspan {
  font-weight: 700;
}
/* Meeting Card - Button Group */
.meeting-card .button_group {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: auto; /* 버튼 그룹을 오른쪽 끝으로 정렬 */
}

/* Example for Text Styling */
.meeting-card .text-section .title {
  font-weight: bold;
  font-size: 18px;
}

.meeting-card .text-section .amount,
.meeting-card .text-section .date,
.meeting-card .text-section .members {
  font-size: 16px;
  color: #555;
}

/* Members Section */
.members .member {
  display: inline-block;
  background-color: #e0e0e0;
  margin: 2px;
  padding: 2px 5px;
  border-radius: 5px;
}
.members-list{width: 100%;height: 150px; display: flex; flex-direction: column; gap: 70px;}
.members-list span{font-weight: 700;}
.members-list p{font-weight: 700; font-weight: 700; color: #F00; text-align: center;}

/* Add Meeting Page */
.add-meeting-page {
  background-color: wheat;
  display: flex;
  flex-direction: column;
  border: 1px solid #F00;
  max-width: 900px;
  height: 1024px;
  gap: 50px;
  margin: auto;
  padding: 20px;
}

.add-meeting-page header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-meeting-page header h1 {
  font-size: 30px;
}

.add-meeting-page label {
  display: flex;
  font-weight: bold;
  margin-top: 20px;
}

.add-meeting-page input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.members-list {
  margin-top: 10px;
  margin-bottom: 20px;
}

.member-item {
  font-size: 16px;
  margin-bottom: 5px;
}

/* Button Styles */
.add-meeting-page button {
  background-color: #000;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;

}

.add-meeting-page .button-group {
  display: flex;
  width: 100%; /* 페이지 전체 너비로 설정 */
  justify-content: flex-end; /* 오른쪽 끝으로 정렬 */
  margin-top: 10px;
  gap: 20px;
  margin-bottom: 40px;
}

.add-meeting-page .button-group button {
  width: 100%; /* 버튼의 기본 너비 유지 */
  height: 50px;
}
