/* Common, Default */
body {
  font-family: 'Pretendard', sans-serif;
  font-size: 18px;
  background: #333;
}

button {
  background: none;border: none;color: inherit;
  padding: 0;margin: 0;cursor: pointer;
}

.default_btn {
  padding: 8px 16px;color: #FFF;font-size: 16px;
  background: teal;border-radius: 5px;
}

/* App.css */
.wrapper {
  width: 500px; min-height: 80vh;margin: 20px auto;
  background: #FFF;position: relative;
}
header {
  padding: 0 30px; display: flex;
  background: teal;color: #FFF;
  height: 100px; align-items: center; justify-content: center;
}
header div {
  display: flex;justify-content: space-between;
  padding: 10px 15px;
}
h1 {
  padding: 20px 0;
  font-weight: 700; text-align: center;
}
.user_main {}
.user_add {
  position: absolute;left: 0;right: 0;top: 0;bottom: 0;
  height: 100%;display: flex;justify-content: center;
  align-items: center;
  background: rgba(0,0,0,.4);
}
.user_add form {
  padding: 20px;
  background: #FFF;border-radius: 10px;
}
.btn_add {
  font-size: 22px;
}

.user_list {
  padding: 20px;
}
.user_list li {
  padding: 16px 0;display: flex;justify-content: space-between;
  border-bottom: 1px solid #000; align-items: center;position: relative;
}
.user_info_wrap {
  display: flex; align-items: center;gap: 15px;
}
.user_info_pic {
  width: 80px;height: 80px;border-radius: 50%;overflow: hidden;
}
.user_info_pic img {
  width: 100%;height: 100%;object-fit: cover;
}
.user_info_text {
  display: flex;flex-direction: column;gap: 10px;
}
.user_info_text strong {font-size: 20px;font-weight: 700;}
.icon_wrap {display: flex;gap: 12px;}
.icon_wrap button {font-size: 22px;}
.ico_modi {position: absolute;background: gold;padding: 10px;right: 20px;top: 50%;white-space: nowrap;transform: translateY(-50%);}

.ico_fav {
  -webkit-text-stroke: 2px silver;
  color: transparent;
}
.ico_fav.fav_choice {
  -webkit-text-stroke: 2px red;
  color: red;
}