/* Common, Default */
body {
  font-family: 'Pretendard', sans-serif;
  font-size: 18px;
  background: #333;
}

button {
  font-family: 'Pretendard', sans-serif;
  background: none;border: none;color: inherit;
  padding: 0;margin: 0;cursor: pointer; font-size: 16px;
}



/* App.css */

header {
  padding: 0 30px; display: flex;
  background: teal; color: #FFF;
  height: 100px; align-items: center; justify-content: left;
}

h1 {
  padding: 20px 0;
  font-weight: 700; text-align: left;
  font-size: 24px;
}

